.negrita {
    font-weight: bold;
}
.kodak {
    color: yellow;
}
.azulito  {
    color: white;
    background-color: rgb(48, 158, 248);
}
.morado {
    color: violet;
}
.verde {
    color: white;
    background-color: green;
}