/*activitat1_3.html*/

#rojo {
    color: red;
}
#amarillo {
    color: yellow
}

#verde {
    color: greenyellow
}
#naranja {
    color: orange
}
#verdefuerte {
    color: green
}
#maron {
    color: brown
}