body {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.capsalera {
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 1em;
}

.inici, .activitats, .contacte, .sobremi {
    display: inline-block;
    margin: 0 1em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.paginici {
    text-align: center;
    margin: 2em;
}

aside {
    float: right;
    margin: 2em;
}