body {
    font-family: 'Times New Roman', Times, serif;
}
.t {
    overflow-x: auto;
    margin: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
  }

  th, td {
    border: 4px solid #ad1212;
    padding: 8px;
    text-align: left;
  }

  caption {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
  }