body {
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    background-color: #f77a7a;
    color: #fff;
    padding: 2rem;
  }

  .ex {
    height: 10rem;
    overflow: auto;
    padding: 1rem;
  }

.s {
    overflow: scroll;
}
div {
    overflow: scroll;
}