body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color: black;
    color: white;
}

.p1 {
    background-color: red;
    margin-left: 10px;
}
.p2 {
    background-color: rgb(255, 139, 162);
    margin-left: 30px;
}
.p3 {
    background-color: yellow;
    margin-left: 50px;
}
.p4 {
    background-color: greenyellow;
    margin-left: 70px;
}
