:root {
    --altura-rectangulo: 300px;
}

.rectangulo {
    width: calc(var(--altura-rectangulo)* 2);
    height: var(--altura-rectangulo);
    background-color: chocolate;
    border: 3px;
    border-color: aquamarine;
    text-align: center;
}
body {
    background-color: aqua;
}
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}